.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.addressinput {
    width: calc(100% - 10px);
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: .5px;
    border: 0;
    border-bottom: 2px solid #f0f0f0;
    color: #000000;
}


.form-list {
    padding-left: 0;
    list-style: none;
}

.form-list__row {
    margin-bottom: 25px;
}

.form-list__row label {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .5px;
    color: #000000;
}

.form-list__row--inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-list__row--inline> :first-child {
    -ms-flex: 2;
    flex: 2;
    padding-right: 20px;
}

.form-list__row--inline> :nth-child(2n) {
    -ms-flex: 1;
    flex: 1;
}

.form-list__input-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-list__input-inline>* {
    width: calc(50% - 10px - 10px);
}

.form-list__row--agree {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

.form-list__row--agree label {
    font-weight: 400;
    text-transform: none;
    color: #000000;
}

.form-list__row--agree input {
    width: auto;
    margin-right: 5px;
}


.modal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    padding-top: 200px;
    z-index: 100;
    overflow-y: auto;
}

.modal__container {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
    margin-bottom: 125px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__featured {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: #153656;
    border-radius: 50%;
    -ms-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
}

.modal__product {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 85%;
    -ms-transform: translateX(calc(-50% - 10px));
    transform: translateX(calc(-50% - 10px));
}

.modal__content {
    -ms-flex: 3;
    flex: 3;
    padding: 40px 30px;
}